<!doctype html>
<html>
<html ng-app="demo" lang="en">
<head>
    <title>Hello AngularJS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
            type="text/javascript"></script>


    <link href="res/lg-map/map.css" rel="stylesheet" type="text/css" />
    <link href="res/css/login.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="res/angular/app.js"></script>
    <script src="res/angular/service/userService.js"></script>
    <script src="res/angular/controller/hello.js"></script>


</head>

<body style="background-color: #252839;">


<div ng-view></div>
</body>
</html>